body{
  color: rgb(0,0,2);
  background: black;
  margin: 20px;
}

header{
  font-size: 80px;
  color: blue;
  border-bottom: solid 2px white;
  margin: 20px;
  padng: 20px;
  diisplay: relative
   font-family: "Edu AU VIC WA NT Hand", cursive;
}

.inicio{
  background: white;
  font-size: 30px;
  margin: 20px;
  padding: 20px;
  display: flex;
    font-family: "Edu AU VIC WA NT Hand", cursive;

  
}
.inicio{
  margin-right: 50px;
}

.descricao{
 font-size:20px; 
text-aling: justify;
}

img{
  height:200px;
}

.clipes{
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.outros{
   font-family: "Edu AU VIC WA NT Hand", cursive;
  font-size: 30;
  padding-left: 20px;
  padding-right: 20px;
}

.outros img{
  opacity: 0.5;
}

.outros img:hover{
  opacity: 1.0;
  border: solid 3px blue;
  border-radius: 20px;
}
